---
    const personalImageAlt = "Nicolás Monclús"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
    <div
        class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
    >
        <p>
            Me llamo Nicolás y me gradué de la carrera Lienciatura en Diseño Multimedial en la Universidad Nacional de La Plata. Además de mi formación en diseño, también tengo experiencia como <strong>frontend developer y product design</strong>.
        </p>

        <p>
            He estado involucrado en una variedad de proyectos creativos, explorando nuevas formas de comunicar ideas a través del diseño. Mi enfoque se centra en crear experiencias visuales impactantes y efectivas que conecten con el público de manera significativa.
        </p>

        <p>
            Colaboré con equipos multidisciplinarios en la conceptualización y ejecución de proyectos innovadores, contribuyendo al éxito de diversas marcas y organizaciones.
        </p>
    </div>

    <img width="200" height="200" src="/avatar.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>