---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
    {
        date: "Actualmente...",
        title: "Product designer & Frontend developer",
        company: "HCDN",
        description:
        "Diseño y desarrollo experiencias de usuario intuitivas y atractivas, colaborando estrechamente con equipos multidisciplinarios. Utilizo herramientas como Adobe XD y Figma para diseñar interfaces centradas en el usuario y luego implemento estas soluciones utilizando HTML, CSS, JavaScript (especialmente React), y tecnologías como SASS, Tailwind CSS y Astro para crear experiencias web interactivas y funcionales.",
    },
    {
        date: "Septiembre 2022",
        title: "Web & Graphic designer",
        company: "Freelance",
        description:
        "Diseño soluciones visuales únicas y atractivas tanto para proyectos web como de diseño gráfico, enfocándome en la creatividad y la funcionalidad. Mi trabajo abarca desde el diseño de interfaces web hasta la creación de identidades de marca completas, incluyendo branding y otros elementos gráficos.",
    },
]
---

<ol class="relative mt-16">
    {
        EXPERIENCIE.map((experiencie) => (
        <li class="">
            <ExperienceItem {...experiencie} />
        </li>
        ))
    }
</ol>