---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
    {
        date: "2025 - Present",
        title: "Technical Product Manager",
        company: "Nexuran Group",
        description:
        "Orchestrating the full product lifecycle and translating business requirements into technical specifications.",
    },
    
    {
        date: "2020 - 2025",
        title: "Frontend Developer",
        company: "Corredores Viales",
        description:
        "Delivered pixel-perfect web applications using React.js and Tailwind CSS."
    },
    {
        date: "2018 - Present",
        title: "Head of Product Design & Engineering Lead",
        company: "HCDN - Diputados Argentina",
        description:
        "Leading the digital ecosystem for 5,000+ users. Shipped the Electronic Voting System and the Official Legislative App.",
    }
]
---

<ol class="relative mt-16">
    {
        EXPERIENCIE.map((experiencie) => (
        <li class="">
            <ExperienceItem {...experiencie} />
        </li>
        ))
    }
</ol>